html, body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.none {
  display: none; }

.offstage {
  position: absolute;
  left: -4000px;
  top: -4000px; }

.transform-reset {
  transform: none !important; }

.anti-alias, .white-text-alias-mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0); }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

#ad_content {
  background: #e1e2e4;
  cursor: pointer;
  border: 1px solid black;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: absolute;
  width: 320px;
  height: 50px; }
  #ad_content div, #ad_content svg {
    position: absolute;
    transform: translate3d(0, 0, 0); }

.backup {
  background: url("backup.jpg") -1px -1px no-repeat;
  background-size: 320px 50px;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: 320px;
  height: 50px; }

#txt1 {
  left: 126px;
  top: 30px; }

#animation {
  top: -9px;
  left: 164px; }

#blue {
  width: 118px;
  height: 50px;
  background: #002857; }

#logo {
  left: 18px;
  top: 10px; }

.sprite-png { background-image: url('sprite.png') }
.sprite-png.cta {
  width: 93px;
  height: 27px;
  background-position: 0px -240px;
  background-size: 351px 270px; }
.sprite-png.fruits {
  width: 171px;
  height: 114px;
  background-position: 0px 0px;
  background-size: 351px 270px; }
.sprite-png.leaf {
  width: 171px;
  height: 114px;
  background-position: -177px 0px;
  background-size: 351px 270px; }
.sprite-png.logo {
  width: 79px;
  height: 28px;
  background-position: -99px -240px;
  background-size: 351px 270px; }
.sprite-png.oats {
  width: 171px;
  height: 114px;
  background-position: 0px -120px;
  background-size: 351px 270px; }
.sprite-png.pack {
  width: 171px;
  height: 114px;
  background-position: -177px -120px;
  background-size: 351px 270px; }
.sprite-svg { background: url('sprite.svg') no-repeat; }
.sprite-svg.txt1 {
  background-position: 0 0;
  width: 36.97px;
  height: 14.28px; }
